{% load thumbnail %}
<div class="col">
    <div class="card text-white {% if task.completed %}bg-success{% else %}bg-danger{% endif %}"
         style="cursor: pointer"
         onclick="window.location='{% url "todo:update_task" task.pk %}';">
        <div class="card-header">Задача {{ forloop.counter }}</div>
        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            {% thumbnail task.image "100x50" crop="center" upscale=False quality=100 as im %}
            <img class="card-img my-2" src="{{ im.url }}">
        {% endthumbnail %}
        <p class="card-text">{{ task.text }}</p>
        <ul class="list-group">
            <li class="list-group-item">Автор: {{ task.created_by.username }}</li>
            <li class="list-group-item">Дата создания: {{ task.create_date|date:"d E Y" }}</li>
            <li class="list-group-item">Дата дедлайна: {{ task.deadline_date|date:"d E Y" }}</li>
        </ul>
    </div>
</div>
</div>
