<div class="d-flex justify-content-center">
    <form method="post"
          enctype="multipart/form-data"
          class="col-8"
          {% if action_url %} action="{% url action_url %}" {% endif %}>
        {% csrf_token %}
        <div class="form-group">
            {% include 'includes/form_field.html' with name="text" type="text" id="id_text" field=form.text value=form.text.value rows=3 %}
        </div>
        <div class="form-row">
            {% include 'includes/form_field.html' with name="deadline_date" type="date" id="id_deadline_date" field=form.deadline_date value=form.deadline_date.value %}
            {% include 'includes/form_field.html' with name="image" type="file" id="id_text" field=form.image value=form.image.value %}
        </div>
        <div class="form-group">
            <div class="form-check">
                {{ form.completed.label_tag }}
                {{ form.completed }}
                {% include 'includes/error.html' with field=form.completed %}
            </div>
        </div>
        <button type="submit" class="mt-4 btn btn-primary">Сохранить</button>
    </form>
</div>
