{% extends 'base.html' %}
{% block title %}Молодец!{% endblock title %}
{% block content %}
    <h3>Котик, ты такой котик! Вот тебе цитата!</h3>
      <div class="row d-flex align-items-center h-100">
        <div class="col-md-12 col-xl-5">
          <figure class="bg-light p-4"
            style="border-left: .35rem solid #fcdb5e; border-top: 1px solid #eee; border-right: 1px solid #eee; border-bottom: 1px solid #eee;">
            <i class="fas fa-quote-left fa-2x mb-4" style="color: #fcdb5e;"></i>
            <blockquote class="blockquote pb-2">
              <p>{{ quote.quote }}</p>
            </blockquote>
            <figcaption class="blockquote-footer mb-0">
              {{ quote.author }}
            </figcaption>
          </figure>
  
        </div>
    </div>
  
{% endblock content %}